.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(180, 179, 178);
  z-index: 1;
}

.navbar-center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.card {
  background: #FFFFFF;
  max-width: 1000px;
  margin: 100px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* box-sizing: border-box; */
  /* padding: 48px; */
  text-align: center;
}

.products {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.img-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.prod-image {
  object-fit: contain;
  height: 450px;
  width: 450px;
}

.child {
  border: solid;
  border-color: black;
  width: fit-content;
  margin-left: 35%;
}

.child h3 {
  text-align: center;
}

.child h4 {
  text-align: center;
}

.quantity {
  text-align: center;
}

button {
  background: rgb(135, 243, 121);
  border-radius: 10px;
  border: 2px solid #0f0f0f;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  size: initial;
  margin-left: 42%;
}

button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
  position: center;
}

i {
  background: chocolate;
}