* {
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(180, 179, 178);
  z-index: 1;
}

.navbar-center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.prod-box {
  object-fit: scale-down;
  border: solid;
  border-color: black;
  width: fit-content;
  margin-left: 20%;
  margin-top: 0%;
}

/* .child {
  border: solid;
  border-color: black;
  width: fit-content;
  margin-left: 35%;
} */

.prod-box h3 {
  text-align: center;
}

.prod-box h4 {
  text-align: center;
}

.quantity {
  text-align: center;
}

.update-btn {
  background: rgb(135, 243, 121);
  border-radius: 10px;
  border: 2px solid #0f0f0f;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  size: 13vh;
  margin-left: 45%;
}

.update.btn:hover {
  background-color: #6e756e;
  color: white;
  position: center;
}

i {
  background: chocolate;
}

/* #categories { */
  /* background: rgb(135, 243, 121); */
  /* border-radius: 10px; */
  /* border: 2px solid #0f0f0f; */
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
  /* size: initial; */
  /* margin-left: 35%; */
/* } */

.btn {
  border-radius: 10px;
  border: 2px solid #0f0f0f;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  size: initial;
  margin-left: 45%;
}

form {
  margin-top: 0%;
  margin-left: 8%;
  border: black;
  transform: translate(-10%, -10%);
  width: 300px;
  border: 5px solid black;
  text-align: center;
  background-color: grey;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form h4 {
  text-align: center;
}
