*{
    /* margin: auto; */
    padding: auto;
    font-family: Bookman L, serif;
}

.title {
    margin-top: 1%;
    margin-left: 30%;
}

h2 {
    margin-top: 0%;
    margin-left: 57%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.topnav {
    background-color: rgb(78, 78, 78);
}
  
/* basic centering */

.photo-box {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
  }

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.merch {
    border: solid blueviolet
}